@import '../../scss/main';

.container {
  @extend %wrapper !optional;

  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 100%;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 500;
  font-family: var(--font-secondary);
  text-align: center;
}

.form {
  width: 100%;

  &__email, &__password {
    @extend %input;

    margin-bottom: 16px;
  }
  
  &__submit {
    @extend %input;

    color: #FFF; 
    background-color: #000;
    cursor: pointer;
    transition: all 0.2s;
  
    &:hover {
      transform: translateY(-4px);
    }
  }
}

.or {
  margin: 32px 0;
  width: 100%;
  text-align: center;
  position: relative;

  &__text {
    background-color: #FFF;
    padding: 0 12px;
  }

  &::after {
    display: block;
    content: '';
    top: 50%;
    width: 100%;
    height: 2px;
    font-size: 0;
    position: absolute;
    background-color: #000;
    z-index: -1;
  }
}

.google {
  @extend %input;

  padding: 13px 12px;
  border-width: 2px;
  border-color: #000;
  cursor: pointer;
  transition: all 0.2s;
  
  &:hover {
    transform: translateY(-4px);
  }

  &__icon {
    margin-right: 12px;
    pointer-events: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: inherit;
    background-color: transparent;
    pointer-events: none;
  }
}

.link {
  color: #4B5563;
  margin-top: 16px;

  &__color {
    margin-left: 6px;
    cursor: pointer;
    user-select: none;
    color: var(--clr-blue-500)
  }
}