<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <style type='text/css'>
      .card {
        display: flex;
        width: 550px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        margin-top: 48px;
        font-family: Inter, sans-serif;
      }

      .title {
        font-size: 24px;
        font-family: 'Space Grotesk', sans-serif;
      }

      .title * {
        margin: 0;
      }

      .sub-title {
        margin-top: 32px;
        margin-bottom: 32px;
        color: #696969;
      }

      .text {
        color: #696969;
      }

      .link {
        display: flex;
        justify-content: center;
      }

      .link a {
        display: block;
        margin: 32px auto;
        width: 50%;
        font-size: 16px;
        border-width: 0;
        border-color: #000;
        border-radius: 6px;
        padding: 14px 12px;
        user-select: auto;
        color: #FFF; 
        background-color: #000;
        cursor: pointer;
        font-family: inherit;
      }

      .footer {
        color: #696969;
      }
    </style>
  </head>

    <body>
    <div class='card'>
      <div class='inner'>
        <div class='title'>
          <h1>Hi {{payload.displayName}},</h1>
          <h1>Forgot your password?</h1>
        </div>
        <div class='sub-title'>
          We have received a password change request for your account.
        </div>
        <div class='text'>
          If it wasn't you, please ignore this email and make sure you can still sign in to 
          your account. If it was you, then 
          <span>
            use the link below to comfirm the password change
          </span>
        </div>
        <div class='link'>
          <a 
            href='http://localhost:3000/reset-password/{{payload.userId}}/{{payload.forgotPasswordToken}}' 
            target='_blank'
          >
            Reset password
          </a>
        </div>
        <div class='footer'>
          <p>Thanks!</p>
        </div>
      </div>
    </div>
 </body>
</html>