// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$bases: (
  max-width: (
    primary: 400px,
    navbar: 1000px,
  )
)